{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'favicon.png' %}" rel="icon" type="image/png">
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">
</head>

<body>

            <header>
                <div class="header_inner">
                    <form action="/search" method="POST">
                    {% csrf_token %}
                    <div class="left-side">
                        <div id="logo" class=" uk-hidden@s">
                            <a href="home.html">
                                <b><h1 style="text-transform: uppercase;">Social Book</h1></b>
                            </a>
                        </div>

                        <div class="header_search">
                            <input name="username" type="text" placeholder="Search for username..">
                            <button type="submit">Search</button>
                        </form>
                        </div>

                    </div>
                    <div class="right-side lg:pr-4">
                         <!-- upload -->
                        <button>Upload pics</button>
                        <div uk-dropdown="pos: top-right;mode:click ; animation: uk-animation-slide-bottom-small" class="header_dropdown">
                            <div class="px-4 py-3 -mx-5 -mt-4 mb-5 border-b">
                                <h4>Upload pics</h4>
                            </div>
                            <div class="flex justify-center flex-center text-center">
    
                                <div class="flex flex-col choose-upload text-center">
                                    <form action="upload" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <p class="my-3 leading-6"> Upload a picture
                                    </p>
                                    <div>
                                        <input type="file" name="image_upload">
                                        <textarea class="button soft-warning small" name="caption" placeholder="Write a caption..."></textarea>
                                        <br>
                                        <button class="button bg-blue-700" type="submit">Post</button>
                                    </div>
                                    </form>
                                </div>
    
                            </div>
                        </div>

                        <!-- profile -->

                        <a href="#">
                            <img src="{{user_profile.profileimg.url}}" class="header-avatar" alt="">
                        </a>
                        <div uk-drop="mode: click;offset:9" class="header_dropdown profile_dropdown border-t">
                            <ul>
                                <li><a href="/profile/{{user.username}}"> Home </a> </li>
                                <li><a href="/settings"> Account setting </a> </li>
                                <li><a href="logout"> Log Out</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </header>

            <div class="container m-auto">
                <div class="lg:flex justify-center lg:space-x-10 lg:space-y-0 space-y-5">

                    <!-- left sidebar-->
                    <div class="space-y-5 flex-shrink-0 lg:w-7/12">

                        {% for post in posts reversed %}
                        <div class="bg-white shadow rounded-md  -mx-2 lg:mx-0">
    
                            <!-- post header-->
                            <div class="flex justify-between items-center px-4 py-3">
                                <div class="flex flex-1 items-center space-x-4">
                                    <span class="block capitalize font-semibold "> <a href="/profile/{{post.user}}">@{{post.user}}</a></span>
                                </div>
                              {% if  user.is_superuser %}
                              <div>
                                <a href="#"> <i class="icon-feather-more-horizontal text-2xl hover:bg-gray-200 rounded-full p-2 transition -mr-1 "></i> </a>
                                <div class="bg-white w-56 shadow-md mx-auto p-2 mt-12 rounded-md text-gray-500 hidden text-base border border-gray-100  " uk-drop="mode: hover;pos: top-right">
                              
                                    <ul class="space-y-1">
                                      <li> 
                                          <a href="/delete/{{post.id}}" class="flex items-center px-3 py-2 text-red-500 hover:bg-red-100 hover:text-red-500 rounded-md ">
                                           <i class="uil-trash-alt mr-1"></i>  Delete
                                          </a> 
                                      </li>
                                    </ul>
                                
                                </div>
                              </div>
                              {% else %}
                              {% endif %}
                            </div>
                            <div uk-lightbox>
                                <a href="{{post.image.url}}">  
                                    <img src="{{post.image.url}}" alt="">
                                </a>
                            </div>
                            <div class="py-3 px-4 space-y-3"> 
                               
                                <div class="flex space-x-4 lg:font-bold">
                                    <a href="/like-post?post_id={{post.id}}" class="flex items-center space-x-2">
                                        <div class="p-2 rounded-full text-black">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="25" height="25" class="">
                                                <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
                                            </svg>
                                            <p>Number of likes:{{post.no_of_likes}}</p>
                                        </div>
                                        
                                    </a>
                                </div>

                                <p>
                                    <a href="/profile/{{post.user}}"><b>{{post.user}}</b></a> {{post.caption}}
                                </p>
                            </div>
                        </div>
                        {% endfor %}     
                    </div>
                </div>               
            </div>
        </div>
    </div>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
</body>
</html>